.content-meta {
  margin-top: 0;
  color: var(--darkgray);

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}

.content-meta.author-info {
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
}
